<section class="game-screen"> 

  <h1 class="title" ng-click="vm.titleClick()">NINE JEWELS</h1>

  <div class="leaderboard">
    <h4>Leaderboard</h4>
    <table>
      <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Solved</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.scoreBoard">
          <td>#{{$index}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.solvedJewels}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="description">
    <p>Order the nine shuffled letters word.</p>
  </div>

  <h3 class="flash" ng-class="{'flashColor': vm.flashVisible}">{{vm.status}}</h3>

  <form class="play-form">
    <h1 class="shuffled">{{vm.shuffledWord}}</h1>
    <input type="text" ng-model="vm.userAnswer" placeholder="answer" maxlength="9">
    <button ng-click="vm.submitWord()" type="submit" class="my-button">Submit</button>
    <button ng-click="vm.showHint()" type="submit" class="my-button">Hint</button>
    <button ng-click="vm.getAnotherWord()" type="submit" class="my-button">Another Word</button>
    <p class="hint">Hint Usage: {{vm.hintCount}}</p>
  </form>

</section>