<section class="home-screen"> 

  <h1 class="title">NINE JEWELS</h1>

  <div class="leaderboard">
    <h4>Leaderboard</h4>
    <table>
      <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Solved</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.scoreBoard">
          <td>#{{$index}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.solvedJewels}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    
  <form ng-submit="vm.startGame()" class="play-form">
    <input type="text" ng-model="vm.username" placeholder="username" maxlength="10">
    <button type="submit" class="my-button">Play</button>
  </form>

</section>







