<section class="home-screen"> 

  <h1 class="title">NINE JEWELS</h1>

  <div class="leaderboard">
    <h4>Leaderboard</h4>
    <table>
      <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Solved</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>mark</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>
    
  <form ng-submit="vm.startGame()" class="play-form">
    <input type="text" ng-model="vm.username" placeholder="username">
    <button type="submit" class="my-button">Play</button>
  </form>

</section>







