/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3e3e3e;
}

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Oswald');

/* General */

.description {
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
  width: 53%;
}

.flash {
  color: transparent;
  margin-top: 40px;
}

.flashColor {
  color: #fff;
}

/* Home Page */

.home-screen {
  text-align: center;
}

.home-screen .description {
  margin-top: 115px;
}

.title {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
  padding-top: 30px;
  letter-spacing: 10px;
  text-shadow: 3px 3px 20px #000;
}

.leaderboard {
  max-height: 305px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 17%;
  position: fixed;
  top: 15px;
  right: 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 3px 3px 20px #000;
  background-color: #74edaf;
}

.leaderboard::-webkit-scrollbar-track {
	background-color: #F5F5F5;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.leaderboard::-webkit-scrollbar {
	width: 8px;
	background-color: #74edaf;
}

.leaderboard::-webkit-scrollbar-thumb {
	background-color: #4ed891;
}

.leaderboard table {
  margin: auto;
}

.leaderboard td, th {
  padding: 10px;
  text-align: center;
}

.leaderboard h4 {
  color: #000;
  padding-top: 10px;
}

.play-form {
  padding: 30px 30px 10px;
  margin: 0 auto 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 3px 20px #000;
  background-color: #74edaf;
}

.home-screen .play-form {
  width: 280px;
  margin-top: 70px;
}

.play-form input[type=text] {
  padding: 7px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 18px;
  width: 80%;
  outline: none;
  text-align: center;
}

.play-form .shuffled {
  padding: 10px 0 25px;
  letter-spacing: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.my-button {
  margin-top: 15px;
  outline: none;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
}


/* Game Page */
  
.game-screen {
  text-align: center;
}

.game-screen .description {
  margin-top: 70px;
}

.game-screen .play-form {
  width: 350px;
  padding-top: 20px;
  margin-top: 40px;
}

.game-screen .my-button {
  margin: 10px 15px 0 0;
}

.hint {
  padding-top: 10px;
  font-size: 20px;
}

/* Media Queries */

@media (max-width: 1200px) {
  .leaderboard {
    width: 22%;
  }
  .title {
    font-size: 70px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 50px;
  }
  .leaderboard {
    width: 24%;
  }
}

@media (max-width: 768px) {
  .home-screen .description {
    margin-top: 50px;
  }
  .description {
    width: 95%;
  }
  .game-screen .play-form,
  .home-screen .play-form {
    width: 90%;
  }
  .leaderboard {
    position: static;
    min-width: 65%;
    border-radius: 10px;
    margin: 0 auto 30px;
  }
}

/* Invalid Page */

.invalid-wrapper h2 {
  margin-top: 80px;
  color: #fff;
}

.invalid-wrapper h3,
.invalid-wrapper h4 {
  color: #fff;
  margin-top: 50px;
}
