/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3e3e3e;
}

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Oswald');

/* General */

.description {
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  width: 60%;
}

.flash {
  color: transparent;
  margin-top: 40px;
}

.flashColor {
  color: #fff;
}

/* Home Page */

.home-screen {
  text-align: center;
}

.home-screen .description {
  margin-top: 115px;
}

.title {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
  padding-top: 30px;
  letter-spacing: 10px;
  text-shadow: 3px 3px 20px #000;
}

.leaderboard {
  width: 20%;
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px #000;
  background-color: #74edaf;
}

.leaderboard table {
  margin: auto;
}

.leaderboard td, th {
  padding: 10px;
  text-align: center;
}

.leaderboard h4 {
  color: #000;
  padding-top: 10px;
}

.play-form {
  padding: 30px;
  margin: 0 auto 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 3px 20px #000;
  background-color: #74edaf;
}

.home-screen .play-form {
  width: 280px;
  margin-top: 70px;
}

.play-form input[type=text] {
  padding: 7px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 18px;
  width: 80%;
  outline: none;
  text-align: center;
}

.play-form .shuffled {
  padding: 10px 0 25px;
  letter-spacing: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.my-button {
  margin-top: 15px;
  outline: none;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
}


/* Game Page */
  
.game-screen {
  text-align: center;
}

.game-screen .description {
  margin-top: 70px;
}

.game-screen .play-form {
  width: 350px;
  margin-top: 40px;
}


/* Media Queries */

@media (max-width: 992px) {
  .title {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .home-screen .description {
    margin-top: 50px;
  }
  .description {
    width: 95%;
  }
  .game-screen .play-form,
  .home-screen .play-form {
    width: 90%;
  }
  .leaderboard {
    display: none;
  }
}

/* Invalid Page */

.invalid-wrapper h2 {
  margin-top: 80px;
  color: #fff;
}

.invalid-wrapper h3,
.invalid-wrapper h4 {
  color: #fff;
  margin-top: 50px;
}
